* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid red;
}

h2 {
  display: inline;
  color: red;
  margin-left: 30%;
}

.box {
  width: 40%;
  border: 1px solid green;
  padding: 20px;
  margin: 20px 30%;
}

.boxes {
  display: flex;
  justify-content: space-between;
}

p{
    display: none;
    margin-top: 10px;
    color: rgb(5, 104, 144);
}

span {
  font-size: 25px;
  font-weight: 800;
  cursor: pointer;
}

.mystyle{
    display: block;
}
