* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 400px;
  height: 300px;
  padding: 20px;
  margin: 0 auto;
}

input {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  outline: none;
}

.btns {
  text-align: center;
  margin-top: 20px;
}

.btn1,
.btn2 {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  background-color: aqua;
}

.numberList {
  margin-top: 10px;
  font-size: larger;
  color: red;
}
